*{ 
   text-align: center;
   color: white;
   font-family: 'Baloo 2', cursive;
}

body {
   background-color:#f48498;

}

img{
   width: 25%;
   border-radius: 10px;
}

.header {
   background-color: #69152a;
   border-radius: 10px;
   margin: 50px;
   
}

.text {
   background-color: #69152a;
   border-radius: 10px;
   margin: 50px;

}